<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="navbar navbar-nav">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/Home/About">About</a>
                </li>
                <li>
                    <a href="/Home/Contact">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
